<% include ./partials/header.ejs %>

<div class="w-screen h-screen bg-blue-100">

    <form hidden id="uploadimg" action="/fileupload" method="post" enctype="multipart/form-data">
        <input type="file" name="image">
    </form>

    <div class="py-8 flex flex-col items-center">
       <div class="relative">
        <span id="uploadicon" class="w-12 lg:w-8 h-12 lg:h-8 absolute bottom-0 right-0 rounded-full bg-zinc-100 flex justify-center items-center">
            <i class="ri-pencil-fill text-2xl lg:text-base"></i>
        </span>

        <div class=" h-60 lg:h-40 w-60 lg:w-40 rounded-full bg-zinc-400 overflow-hidden">
            <img class="w-full h-full object-cover" src="<%=  user.imageBase64  %>" alt="">
        </div>
       </div>

        <h1 class="text-6xl lg:text-3xl font-bold mt-2"><%= user.name %></h1>
        <h5 class="text-2xl lg:text-lg">@<%=user.username%></h5>

        <a href="/add" class="bg-blue-600 py-3 lg:py-1 px-4 lg:px-3 rounded-lg text-white mt-5 text-3xl lg:text-lg">Add New Post</a>
    </div>

    <div class="mt-5 px-5">                      
        <div>
            <div class="h-56 lg:h-40 w-64 lg:w-60 bg-zinc-500 rounded-lg overflow-hidden">
               <% if(postsWithImages != null && postsWithImages.length > 0){ %>
                <img class="w-full h-full object-cover" src=" <%= postsWithImages[0].imageBase64 %>" alt="">
              <% } %>
            </div>
            <a href="/show" class="inline-block p-2 pb-0 font-bold text-2xl lg:text-xl">All Your Pins</a>
            <h5 class="opacity-95 px-2 text-lg lg:text-base"><%=user.posts.length%> Pins</h5>
        </div>
    </div>
</div>

<script>
    document.querySelector("#uploadicon").addEventListener('click', function(){
        document.querySelector("#uploadimg input").click();
    })

    document.querySelector("#uploadimg input").addEventListener('change', function(){
        document.querySelector("#uploadimg").submit();
    })
</script>
<% include ./partials/footer.ejs %>
